<!DOCTYPE html>
<html ng-app="huaweiApp" ng-controller="mainController">

<head>
    <meta http-equiv="content-type" content="text/html">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Huawei Armenia</title>

    <link rel="stylesheet" type="text/css" href="css/allstyles.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" media="all">

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/angular.min.js"></script>

</head>

<body>
<div class="wrapper">
    <header id="header" class="page-header">
        <div class="page-header-container">
            <div class="mobile-nav icon-honor2-menu size-24">&nbsp;</div>
            <div class="logo">
                <a href="http://huaweiarmenia.am/">
                    <img src="http://cdnskin.huawei.ru/ru/skin/frontend/huawei/honor-red/images/logo.png"
                         alt="Honor России" class="large">
                    <img src="http://cdnskin.huawei.ru/ru/skin/frontend/huawei/honor-red/images/logo.png"
                         alt="Honor России" class="small">
                </a>
            </div>
            <div class="header-nav-mob">
                <nav id="nav">
                    <ol class="nav-primary">
                        <li class="level0 nav-4 parent drop">
                            <a href="http://shop.huawei.ru/smartphone.html" class="level0 has-children" target="">Смартфоны</a>
                            <em class="arrow"></em>
                            <ul class="level0">
                                <li class="level1 nav-4-1 first">
                                    <a href="http://shop.huawei.ru/huawei-mate-8-komplekt.html" class="level1"
                                       target="">Huawei Mate 8</a>
                                </li>
                            </ul>
                        </li>
                        <li class="level0 nav-5 parent drop">
                            <a href="http://shop.huawei.ru/tablet.html" class="level0 has-children"
                               target="">Планшеты</a>
                            <em class="arrow"></em>
                            <ul class="level0">
                                <li class="level1 nav-5-1 first">
                                    <a href="http://shop.huawei.ru/huawei-x2-zolotoj-bundle.html" class="level1"
                                       target="">MediaPad X2</a>
                                </li>
                                <li class="level1 nav-5-2 last">
                                    <a href="http://shop.huawei.ru/huawei-mediapad-m2-10-0-premium.html" class="level1"
                                       target="">MediaPad M2 10.0</a>
                                </li>
                            </ul>
                        </li>
                        <li class="level0 nav-6 last parent drop">
                            <a href="http://shop.huawei.ru/smartphone.html" class="level0 has-children" target="">Аксессуары</a>
                            <em class="arrow"></em>
                            <ul class="level0">
                                <li class="level1 nav-6-1 first">
                                    <a href="http://shop.huawei.ru/huawei-watch-pack.html" class="level1" target="">Huawei
                                        Watch</a>
                                </li>
                                <li class="level1 nav-6-2">
                                    <a href="http://shop.huawei.ru/accessories/band.html" class="level1" target="">Фитнес
                                        трекеры</a>
                                </li>
                                <li class="level1 nav-6-3">
                                    <a href="http://shop.huawei.ru/accessories/vneshnie-akkumuljatory.html"
                                       class="level1" target="">Внешние аккумуляторы</a>
                                </li>
                                <li class="level1 nav-6-4">
                                    <a href="http://shop.huawei.ru/accessories/chehly.html" class="level1" target="">Чехлы</a>
                                </li>
                                <li class="level1 nav-6-5">
                                    <a href="http://shop.huawei.ru/accessories/plenki.html" class="level1" target="">Плёнки</a>
                                </li>
                                <li class="level1 nav-6-6 last">
                                    <a href="http://shop.huawei.ru/accessories/earphones.html" class="level1" target="">Наушники</a>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </nav>
                <div class="mobile-drop-down">
                    <ul>
                        <li class="beforeLogin">
                            <a href="https://hwid8.vmall.com/casserver/remoteLogin?loginUrl=http://hwid8.vmall.com/oauth2/portal/login.jsp&amp;service=http%3A%2F%2Fshop.huawei.ru%2Fup%2Findex%2FloginReturn&amp;loginChannel=26000108&amp;reqClientType=2608&amp;lang=ru-ru&amp;adUrl=http://cdnmedia.huawei.ru/ru/media/wysiwyg/up/honor-7-russian-page-left.jpg"
                               class="beforeLoginButton">Вход</a>
                        </li>
                        <li class="beforeLogin sign-up">
                            <a href="https://hwid8.vmall.com/casserver/remoteLogin?loginUrl=https://hwid8.vmall.com/oauth2/portal/regbymail.jsp&amp;service=http%3A%2F%2Fshop.huawei.ru%2Fup%2Findex%2FloginReturn&amp;loginChannel=26000108&amp;reqClientType=2608&amp;lang=ru-ru">Регистрация</a>
                        </li>
                        <li class="mobile-links-invisible sign-up">
                            <a id="sign-up" class="account"
                               href="https://hwid8.vmall.com/casserver/remoteLogin?loginUrl=https://hwid8.vmall.com/oauth2/portal/regbymail.jsp&amp;service=http%3A%2F%2Fshop.huawei.ru%2Fup%2Findex%2FloginReturn&amp;loginChannel=26000108&amp;reqClientType=2608&amp;lang=ru-ru"
                               title="Регистрация">Регистрация</a>
                        </li>
                        <li class="mobile-links-invisible">
                            <a id="login-popup1" class="account"
                               href="https://hwid8.vmall.com/casserver/remoteLogin?loginUrl=http://hwid8.vmall.com/oauth2/portal/login.jsp&amp;service=http%3A%2F%2Fshop.huawei.ru%2Fup%2Findex%2FloginReturn&amp;loginChannel=26000108&amp;reqClientType=2608&amp;lang=ru-ru&amp;adUrl=http://cdnmedia.huawei.ru/ru/media/wysiwyg/up/honor-7-russian-page-left.jpg"
                               title="Вход">Вход</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-nav">
                <ul class="header-nav-content">
                    <li class="header-nav-item">
                        <a href="http://shop.huawei.ru/smartphone.html" class="header-nav-link has-children" target="">{{"Smartphones"
                            | translate}}</a>
                        <em class="arrow"></em>
                        <ul class="dd-menu">
                            <li class="dd-menu-item" ng-repeat="item in menuLinks.smartphones">
                                <a ng-href="/smartphones/{{item.link}}" class="level1" target="">{{item.title}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header-nav-item">
                        <a href="http://shop.huawei.ru/tablet.html" class="header-nav-link has-children" target="">{{"Tablets"
                            | translate}}</a>
                        <em class="arrow"></em>
                        <ul class="dd-menu">
                            <li class="dd-menu-item" ng-repeat="item in menuLinks.tablets">
                                <a ng-href="/smartphones/{{item.tablets}}" class="level1" target="">{{item.title}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header-nav-item">
                        <a href="http://shop.huawei.ru/honor-5x-zolotoj.html" class="header-nav-link" target="">{{"Tablets"
                            | translate}}</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="http://shop.huawei.ru/honor-7-pack.html" class="header-nav-link" target="">{{"Blog" |
                            translate}}</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="http://shop.huawei.ru/honor-4x-pack.html" class="header-nav-link" target="">{{"About
                            Us" | translate}}</a>
                    </li>
                    <li class="header-nav-item">
                        <a href="http://shop.huawei.ru/honor-4x-pack.html" class="header-nav-link" target="">{{"Contacts"
                            | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </header>
    <div class="main-slider">
        <ul class="main-slider-list" ng-if="homeSlider">

            <li class="main-slider-item" ng-repeat="item in homeSlider" homeslider>
                <div class="main-slider-img-container">
                    <a href="">
                        <img ng-src="{{item.img}}" alt="{{item.title}}">
                    </a>
                </div>
                <div class="main-slider-content">
                    <h2 class="main-slider-content-title" ng-bind-html="item.title"></h2>
                    <div class="main-slider-content-desc">
				        <span ng-bind-html="item.description"></span>
                        <a href="" class="readmore">
                            <span>Read More</span>
                        </a>
                    </div>
                </div>
            </li>

        </ul>
    </div>
    <div class="products-main">
        <div class="products-item" ng-repeat="item in productsMain">
            <a>
                <img class="products-img" alt="{{item.title}}" ng-src="{{item.link}}">
                <span class="products-title">{{item.title}}</span>
                <span class="products-descr">{{item.description}}</span>
                <span class="products-button">{{"products-more-btn" | translate}}</span>
            </a>
        </div>
        <div class="products-item">
            <a>
                <img class="products-img" alt="" src="http://huaweiarmenia.am/images/01_3.png">
                <span class="products-title">Huawei P8</span>
                <span class="products-descr">5.2" Dual SIM smartphone with IPS LCD display</span>
                <span class="products-button">{{"products-more-btn" | translate}}</span>
            </a>
        </div>
        <div class="products-item">
            <a>
                <img class="products-img" alt="" src="http://huaweiarmenia.am/images/01_2.png">
                <span class="products-title">Huawei Honor 7</span>
                <span class="products-descr">5.2" Dual SIM smartphone with IPS-NEO LCD display</span>
                <span class="products-button">{{"products-more-btn" | translate}}</span>
            </a>
        </div>
        <div class="products-item">
            <a>
                <img class="products-img" alt="" src="http://huaweiarmenia.am/images/01_1.png">
                <span class="products-title">Huawei NEXUS 6P</span>
                <span class="products-descr">5.7" Single SIM smartphone with AMOLED display </span>
                <span class="products-button">{{"products-more-btn" | translate}}</span>
            </a>
        </div>
        <div class="products-item">
            <a>
                <img class="products-img" alt="" src="http://huaweiarmenia.am/images/01_1.png">
                <span class="products-title">Huawei NEXUS 6P</span>
                <span class="products-descr">5.7" Single SIM smartphone with AMOLED display </span>
                <span class="products-button">{{"products-more-btn" | translate}}</span>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="menu-bottom">
        <div class="menu-bottom-column">
            <div class="menu-bottom-column-inner">
                <h3><span>Information For</span></h3>
                <div class="ja-box-ct clearfix">
                    <ul class="menu">
                        <li class="item-126">
                            <a href="http://moblios.am/index.php/en/enterprises-networking">Enterprises</a>
                        </li>
                        <li class="item-127">
                            <a href="/index.php/en/2013-11-24-20-29-29">Consumers</a>
                        </li>
                        <li class="item-128">
                            <a href="/index.php/en/cooperation">Cooperation</a>
                        </li>
                        <li class="item-129">
                            <a href="/index.php/en/news">Journalists</a>
                        </li>
                        <li class="item-130">
                            <a href="/index.php/en/job-seekers">Job Seekers</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu-bottom-column">
            <div class="menu-bottom-column-inner">
                <h3><span>Who We Are</span></h3>
                <div class="ja-box-ct clearfix">
                    <ul class="menu">
                        <li class="item-131">
                            <a href="/index.php/en/vision-mission">Vision and Mission</a>
                        </li>
                        <li class="item-132">
                            <a href="/index.php/en/strategy">Strategy</a>
                        </li>
                        <li class="item-135">
                            <a href="/index.php/en/our-partners-3">Our Partners</a>
                        </li>
                        <li class="item-136">
                            <a href="/index.php/en/all-contacts">Contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu-bottom-column">
            <div class="menu-bottom-column-inner">
                <h3><span>Terminal Market</span></h3>
                <div class="ja-box-ct clearfix">
                    <ul class="menu">
                        <li class="item-137">
                            <a href="/index.php/en/new-products">New products</a>
                        </li>
                        <li class="item-139">
                            <a href="/index.php/en/mobile-phones">Mobile Phones</a>
                        </li>
                        <li class="item-140">
                            <a href="/index.php/en/tablets">Tablets</a>
                        </li>
                        <li class="item-141">
                            <a href="/index.php/en/mobile-broadband">Mobile Broadband</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu-bottom-column">
            <div class="menu-bottom-column-inner">
                <h3><span>Enterprise</span></h3>
                <div class="ja-box-ct clearfix">
                    <ul class="menu">
                        <li class="item-143">
                            <a href="/index.php/en/partners">Partners</a>
                        </li>
                        <li class="item-144">
                            <a href="/index.php/en/projects">Projects</a>
                        </li>
                        <li class="item-145">
                            <a href="/index.php/en/products">Products</a>
                        </li>
                        <li class="item-146">
                            <a href="/index.php/en/solutions">Solutions</a>
                        </li>
                        <li class="item-147">
                            <a href="/index.php/en/support">Support</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/lib/owl.carousel.js"></script>
<script src="js/lib/angular-route.min.js"></script>
<script src="js/lib/angular-sanitize.min.js"></script>
<script src="js/lib/angular-translate.js"></script>
<script src="js/lib/angular-translate-loader-static-files.min.js"></script>
<script src="js/app.js"></script>
</body>

</html>