<div class="blog-title">
    {{"Blogs" | translate}}
</div>
<div class="blog-wrapper">
    <div class="article">
        <img class="article-img" src="/img/blog/{{article.img}}">
        <div class="article-inner">
            <span class="article-date">{{article.date}}</span>
            <span class="article-title">{{article.title}}</span>
            <div class="article-text-and-social">
                <span class="article-text">{{article.text}}</span>
                <div class="article-social">
                    <div class="article-social-item f-link"></div>
                    <div class="article-social-item t-link"></div>
                    <div class="article-social-item g-link"></div>
                    <div class="article-social-item b-link"></div>
                </div>
            </div>

        </div>
    </div>
</div>