<h1 class="blog-title">
    {{"Blogs" | translate}}
</h1>
<div class="blog-wrapper">
    <div class="article">
        <img class="article-img" src="/img/blog/{{article.img}}">
        <div class="article-inner">
            <span class="article-date">{{article.date}}</span>
            <span class="article-title">{{article.title}}</span>
            <div class="article-text-and-social">
                <span class="article-text article-inner-text" ng-bind-html="article.inner"></span>
                <!--<span class="article-text" ng-include="article.innerLink"></span>-->
                <div class="article-social">
                    <div class="article-social-item f-link" ng-click="shareIt.facebook(article.slug, article.title, article.img, article.text.slice(120))"></div>
                    <div class="article-social-item t-link" ng-click="shareIt.twitter(article.slug, article.title)"></div>
                    <div class="article-social-item g-link" ng-click="shareIt.google(article.slug)"></div>
                    <div class="article-social-item b-link" ng-click="shareIt.vkontakte(article.slug, article.title, article.img, article.text.slice(120))"></div>
                </div>
            </div>
        </div>
    </div>
</div>