<h1 class="blog-title">
    {{"Blog" | translate}}
</h1>
<div class="blog-wrapper">
    <div class="article">
        <img class="article-img" alt="{{article.title}}" src="/img/blog/{{article.img}}">
        <div class="article-inner">
            <span class="article-date">{{article.date}}</span>
            <span class="article-title">{{article.title}}</span>
            <div class="article-text-and-social">
                <span class="article-text article-inner-text" ng-bind-html="article.inner"></span>
                <ul class="lang-section follow-us main-follow" style="z-index: 9999;    top: 84px;">
                    <div class="social-link">&nbsp;
                        <div class="article-social-item f-link" ng-click="shareIt.facebook(article.slug, article.title, article.img[0], article.meta_desc)"></div>
                        <div class="article-social-item t-link" ng-click="shareIt.twitter(article.slug, product.title)"></div>
                        <div class="article-social-item g-link" ng-click="shareIt.google(article.slug)"></div>
                        <div class="article-social-item b-link" ng-click="shareIt.vkontakte(article.slug, article.title, article.img[0], article.text.slice(120))"></div>
                    </div>
                </ul>
                <ul class="mobile-follow">
                    <div class="m-social-link">&nbsp;
                        <a class="mf-link" href="" ng-click="shareIt.facebook(article.slug, article.title, article.img[0], article.meta_desc)">&nbsp;</a>
                        <a class="mt-link" href="" ng-click="shareIt.twitter(article.slug, article.title)">&nbsp;</a>
                        <a class="mg-link" href="" ng-click="shareIt.google(article.slug)">&nbsp;</a>
                        <a class="mb-link" href="" ng-click="shareIt.vkontakte(article.slug, article.title, article.img[0], article.text.slice(120))">&nbsp;</a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>
    .article-social-item {
        background-image: url(../../img/sprite.png) !important;
    }
</style>