<div class="gradient"></div>
<div class="contact-us-wrapper">
    <h1 class="about-us-title">
        {{"Contacts" | translate}}
    </h1>
    <div class="contacts">
        <div class="contacts-item">
            <div class="contacts-item-left">
                <span class="contacts-title">
                    {{"Huawei Shop" | translate}}
                </span>
                <span class="contacts-text follow-us">
                    {{"Address:" | translate}} {{"27 Tumanyan Street, 0002, Yerevan" | translate}} <br>
                    {{"Phone:" | translate}} <a href="tel:+37410606060">+374 10 60 60 60</a><br>
                    {{"Mobile:" | translate}} <a href="tel:+37443606060">+374  43 60 60 60</a><br>
                    {{"eMail" | translate}}: info@moblios.am <br>
                    <div class="social-link">&nbsp;
                        <a class="f-link" href="https://www.facebook.com/Huawei.Armenia" target="_blank">&nbsp;</a>
                    </div>: facebook.com/Huawei.Armenia
                </span>
            </div>
            <div class="contacts-item-right">
                <div class="map-wrapper">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3048.084491825453!2d44.51138731578356!3d40.184933077627335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abce2f6720157%3A0xf4d7e2bff3043f93!2zMjcgVHVtYW55YW4gU3QsIFllcmV2YW4sINCQ0YDQvNC10L3QuNGP!5e0!3m2!1sru!2s!4v1467005283148"
                        width="294" height="168" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="contacts-item">
            <div class="contacts-item-left">
                <span class="contacts-title">
                    {{"Service Center" | translate}}
                </span>
                <span class="contacts-text follow-us">
                    {{"Address:" | translate}} {{"9 Arshakunyats, 0023, Yerevan" | translate}}<br>
                    {{"Phone:" | translate}} <a href="tel:+37410606464">+374 10 60 44 94</a><br>
                    {{"Mobile:" | translate}} <a href="tel:+37496192168">+374 96 19 21 68</a><br>
                    {{"eMail" | translate}}: info@innotech.am<br>
                    <div class="social-link">&nbsp;
                        <a class="f-link" href="https://www.facebook.com/Huawei.Armenia" target="_blank">&nbsp;</a>
                    </div>: facebook.com/InnoTechEngineering<br>
                    {{"skype" | translate}}: innotech_armenia
                </span>
            </div>
            <div class="contacts-item-right">
                <div class="map-wrapper">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3048.7699856989298!2d44.50542531578327!3d40.169674678551075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x406abc5bdbe8717b%3A0xb90d6e1b6caa3eb5!2zOSBBcnNoYWt1bnlhdHMgQXZlLCBZZXJldmFuLCDQkNGA0LzQtdC90LjRjw!5e0!3m2!1sru!2s!4v1467005218632"
                            width="294" height="168" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>