<div class="footer-links-column footer-x2">
    <style>.contact-bkl{font-size:14pt}</style>
    <h3>{{"Contact us" | translate}}</h3>
    <ul class="contact-us-list">
        <div class="contact-us-item">
            <li class="contact-blk">
                {{"Huawei shop" | translate}}:
                <br><span style="padding-left: 5px">+374 10 60 60 60</span>, <a href="mailto:support@huawei.ru">shop@moblios.am</a>
            </li>
            <li>{{"Every day" | translate}}, 11:00-21:00</li>
        </div>
        <div class="contact-us-item">
            <li class="contact-blk">
                {{"Service and technical support" | translate}}:
                <br><span style="padding-left: 5px">+374 96 192 168</span>, <a href="mailto:mobile.ru@huawei.com">info@innotech.am</a>
            </li>
            <li>{{"Mon-Fri" | translate}}, 10:00-19:00, {{"Sat" | translate}}, 11:00-18:00</li>
            <!--<li></li>-->
        </div>
    </ul>
</div>