<div class="enterprises-big-img">
    <img src="/img/enterprise/big.png">
</div>
<div class="enterprises-big-line">
    <h1 class="enterprises-big-line-left">{{"For Industries" | translate}}</h1>
    <div class="enterprises-big-line-right">{{"Huawei helps 450 million customers of the Agriculture Bank of China to enjoy agile finance services. ...." | translate}}</div>
</div>
<div class="main-container enterprises-all">
    <h2 class="title"><!--{{"Find innovative Huawei ICT Solutions for your industry" | translate}}--></h2>

    <div class="row">

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/education">
                        <img src="/img/enterprise/1.png" alt="Education solutions">
                    </a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/education">{{"Education" | translate}}</a>
                    </h3>
                    <p>
                        {{"Communicate, educate, succeed. Spread knowledge online to make students smarter and teachers better" | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/finance">
                        <img src="/img/enterprise/2.png" class="removeImgWH" alt="Finance solutions">
                    </a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/finance">{{"Finance" | translate}}</a>
                    </h3>
                    <p>
                        {{"From banking to insurance and beyond — intelligent, modern solutions for the financial industry" | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/government">
                        <img src="/img/enterprise/3.png" class="removeImgWH" alt="Government solutions">
                    </a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/government">{{"Government" | translate}}</a>
                    </h3>
                    <p>
                        {{"Better services, quick and useful decision-making, forward-looking planning — government done right" | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/healthcare">
                        <img src="/img/enterprise/4.png" class="removeImgWH" alt="Healthcare solutions">
                    </a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/healthcare">{{"Healthcare" | translate}}</a>
                    </h3>
                    <p>
                        {{"It takes strong medicine to stay healthy and Huawei’s innovative IT solutions help make it happen" | translate}}
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/hospitality">
                        <img src="/img/enterprise/5.png" class="removeImgWH" alt="Hospitality Solutions">
                    </a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/hospitality">{{"Hospitality" | translate}}</a>
                    </h3>
                    <p>
                        {{"Cutting-edge guest services and hotel management, video conferencing, and video security systems" | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/manufacturing">
                        <img src="/img/enterprise/6.png" class="removeImgWH" alt="Manufacturing solutions"></a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/manufacturing">{{"Manufacturing" | translate}}</a>
                    </h3>
                    <p>
                        {{"Connecting labor, application systems, and smart machines to forge factories of the future" | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/media-entertainment">
                        <img src="/img/enterprise/7.png" class="removeImgWH" alt="Media and Entertainment Solutions">
                    </a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/media-entertainment">{{"Media and Entertainment" | translate}}</a>
                    </h3>
                    <p>
                        {{"Produce, collect, store, or manage content. Media anywhere, any device, anytime… that’s omnimedia" | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/oil-gas">
                        <img src="/img/enterprise/8.png" class="removeImgWH" alt="Oil and gas solutions"></a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/oil-gas">{{"Oil and Gas" | translate}}</a>
                    </h3>
                    <p>
                        {{"From the arctic to the desert, better efficiency and safety for drilling, pipelines, and refineries" | translate}}
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/public-safety">
                        <img src="/img/enterprise/9.png" class="removeImgWH" alt="Public safety solutions">
                    </a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/public-safety">{{"Public Safety" | translate}}</a>
                    </h3>
                    <p>
                        {{"Intelligent IT, communications, and video-analysis technologies to keep the public safe" | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/railway">
                        <img src="/img/enterprise/10.png" class="removeImgWH" alt="Railway Solutions"></a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/railway">{{"Railway" | translate}}</a>
                    </h3>
                    <p>
                        {{"Make the connection with on-time performance and better customer services… any time, any destination" | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/retail">
                        <img src="/img/enterprise/11.png" class="removeImgWH" alt="Intelligent retail solutions">
                    </a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/retail">{{"Retail" | translate}}</a>
                    </h3>
                    <p>
                        {{"IT infrastructure, applications, and value-added services for trend-setting retailers" | translate}}
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="cell">
                <div>
                    <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/smart-grid">
                        <img src="/img/enterprise/12.png" class="removeImgWH" alt="Smart grid solutions"></a>
                </div>
                <div>
                    <h3>
                        <a href="http://e.huawei.com/{{enterpriseLink}}/solutions/industries/smart-grid">{{"Smart Grid" | translate}}</a>
                    </h3>
                    <p>
                        {{"Smart electricity service management and reliable distribution from generating plant to customers" | translate}}
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>