<div class="main-slider" ng-show="homeSlider">
    <ul class="main-slider-list">
        <a ng-href="{{preLink}}/products/{{item.slug}}" class="main-slider-item" ng-repeat="item in homeSlider" homeslider>
            <div class="main-slider-img-container">
                <img ng-src="{{item.img}}" alt="{{item.title}}">
            </div>
        </a>
    </ul>
</div>

<div class="products-main slider-wrapper">
    <div class="products-slider-list">
        <div class="products-item" ng-repeat="item in productsMain" secondslider>
            <a ng-href="{{preLink}}/products/{{item.slug}}">
                <img class="products-img" alt="{{item.title}}" ng-src="{{item.img}}">
                <span class="products-title">{{item.title}}</span>
                <span class="products-button">{{"products-more-btn" | translate}}</span>
            </a>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="products-main video-list">
    <div class="video-list">
        <div class="video-item">
            <div id="ytplayer">Youtube player here</div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="video-wrapper" ng-if="showVideo">
    <div class="video-outer">
        <div class="close-video" ng-click="closeVideo()"></div>
        <div class="video-inner"></div>
    </div>
</div>

<ul class="lang-section follow-us main-follow">
    <div class="social-link">&nbsp;
        <a class="b-link" href="https://vk.com/huaweidevicerus" target="_blank">&nbsp;</a>
        <a class="f-link" href="https://www.facebook.com/HuaweiDeviceRus" target="_blank">&nbsp;</a>
        <a class="t-link" href="https://twitter.com/huaweidevicerus" target="_blank">&nbsp;</a>
        <a class="y-link" href="http://www.youtube.com/user/HuaweiDeviceRus" target="_blank">&nbsp;</a>
        <a class="i-link" href="http://instagram.com/huaweidevicerussia" target="_blank">&nbsp;</a>
        <a class="h-link" href="https://vk.com/huaweiservice" target="_blank">&nbsp;</a>
    </div>
</ul>