<div class="footer-links ">
    <h3 class="footer-partners-title">{{"Our partners" | translate}}</h3>
    <div class="footer-links-column footer-x8">
        <a href="http://www.huawei.com/en/">
            <img src="/img/partners/huawei-logo.png" style="width: 50px;margin: 0px 25px;"/>
        </a>
    </div>
    <div class="footer-links-column footer-x8">
        <a href="http://mts.am/">
            <img src="/img/partners/viva-logo.png"/>
        </a>
    </div>
    <div class="footer-links-column footer-x8">
        <a href="https://beeline.am/am/?lang=hy">
            <img src="/img/partners/beeline-logo.png" style="width: 75px;margin: 0px 30px;"/>
        </a>
    </div>
    <div class="footer-links-column footer-x8">
        <a href="https://ucom.am/hy/home.html">
            <img src="/img/partners/ucom-logo.jpg"/>
        </a>
    </div>
    <div class="footer-links-column footer-x8">
        <a href="http://redinet.am/">
            <img src="/img/partners/redinet-logo.png"/>
        </a>
    </div>
    <div class="footer-links-column footer-x8">
        <a href="http://innotech.am/">
            <img src="/img/partners/innotech-logo.png"/>
        </a>
    </div>
</div>