<div class="gradient"></div>
<div class="about-us-wrapper">
    <h1 class="about-us-title">
        {{"Our partners" | translate}}
    </h1>
    <div class="partners">
        <div class="partners-item">
            <a class="partners-link" href="http://www.huawei.com/en/">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/huawei-logo.png" class="parters-img huawei">
                </div>
                <span class="partners-title">
                    {{"Huawei" | translate}}
                </span>
                <span class="partners-text">
                    {{"huawei-text" | translate}}
                </span>
            </a>
        </div>
        <div class="partners-item">
            <a class="partners-link" href="https://beeline.am/am/?lang=hy">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/beeline-logo.png" class="parters-img beeline">
                </div>
                <span class="partners-title">
                    {{"Beeline" | translate}}
                </span>
                <span class="partners-text">
                    {{"beeline-text" | translate}}
                </span>
            </a>
        </div>
        <div class="partners-item">
            <a class="partners-link" href="http://mts.am/">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/viva-logo.png" class="parters-img viva">
                </div>
                <span class="partners-title">
                    {{"Vivacell-MTS" | translate}}
                </span>
                <span class="partners-text">
                    {{"viva-text" | translate}}
                </span>
            </a>
        </div>
        <div class="partners-item">
            <a class="partners-link" href="https://ucom.am/hy/home.html">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/ucom-logo.png" class="parters-img ucom">
                </div>
                <span class="partners-title">
                    {{"Ucom" | translate}}
                </span>
                <span class="partners-text">
                    {{"ucom-text" | translate}}
                </span>
            </a>
        </div>
        <div class="partners-item">
            <a class="partners-link" href="http://redinet.am/">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/redinet-logo.png" class="parters-img redinet">
                </div>
                <span class="partners-title">
                    {{"Redinet" | translate}}
                </span>
                <span class="partners-text">
                    {{"redinet-text" | translate}}
                </span>
            </a>
        </div>
        <div class="partners-item">
            <a class="partners-link" href="http://innotech.am/">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/innotech-logo.png" class="parters-img innotech">
                </div>
                <span class="partners-title">
                    {{"InnoTech" | translate}}
                </span>
                <span class="partners-text">
                    {{"innotech-text" | translate}}
                </span>
            </a>
        </div>
    </div>
</div>