<div class="gradient"></div>
<div class="about-us-wrapper">
    <div class="about-us-title">
        {{"Our partners" | translate}}
    </div>
    <div class="partners">
        <div class="partners-item">
            <a class="partners-link" href="http://www.huawei.com/en/">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/huawei-logo.png" class="parters-img huawei">
                </div>
                <span class="partners-title">
                    {{"Huawei" | translate}}
                </span>
                <span class="partners-text">
                    {{"Huawei is a leading global ICT solutions provider.The products and solutions which Huawei offers have been deployed in over 140 countries, serving more than one third of the ..." | translate}}
                </span>
            </a>
        </div>
        <div class="partners-item">
            <a class="partners-link" href="https://beeline.am/am/?lang=hy">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/beeline-logo.png" class="parters-img beeline">
                </div>
                <span class="partners-title">
                    {{"Beeline" | translate}}
                </span>
                <span class="partners-text">
                    {{"Armenian Card presents service package which gives an opportunity to banks to issue and acquire ArCa, MasterCard, VISA and American Express cards using the modern  technics ..." | translate}}
                </span>
            </a>
        </div>
        <div class="partners-item">
            <a class="partners-link" href="http://mts.am/">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/viva-logo.png" class="parters-img viva">
                </div>
                <span class="partners-title">
                    {{"Vivacell-MTS" | translate}}
                </span>
                <span class="partners-text">
                    {{"K-Telecom CJSC (VivaCell-MTS) is Armenia's leading telecommunications operator, having the widest 2G/3.75G/4G network reach and spreading a wide range of Voice and ..." | translate}}
                </span>
            </a>
        </div>
        <div class="partners-item">
            <a class="partners-link" href="https://ucom.am/hy/home.html">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/ucom-logo.png" class="parters-img ucom">
                </div>
                <span class="partners-title">
                    {{"Ucom" | translate}}
                </span>
                <span class="partners-text">
                    {{"Huawei is a leading global ICT solutions provider.The products and solutions which Huawei offers have been deployed in over 140 countries, serving more than one third of the ..." | translate}}
                </span>
            </a>
        </div>
        <div class="partners-item">
            <a class="partners-link" href="http://redinet.am/">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/redinet-logo.png" class="parters-img redinet">
                </div>
                <span class="partners-title">
                    {{"Redinet" | translate}}
                </span>
                <span class="partners-text">
                    {{"REDINET» CJSC is the leading system integrator company acting in Armenian, Georgian, Lebanese, Iraqi, Cyprus telecommunication markets. Company provides wide range of services ..." | translate}}
                </span>
            </a>
        </div>
        <div class="partners-item">
            <a class="partners-link" href="http://innotech.am/">
                <div class="partners-img-wrapper">
                    <img src="/img/partners/innotech-logo.png" class="parters-img innotech">
                </div>
                <span class="partners-title">
                    {{"InnoTech" | translate}}
                </span>
                <span class="partners-text">
                    {{"InnoTech Service Center is one of the leading companies in Armenia specialized in providing software & hardware assistance of smartphones tablets, network equipment ..." | translate}}
                </span>
            </a>
        </div>
    </div>
</div>