<div class="main-container col1-layout catalog-product-view">
    <div class="main">
        <div class="col-main product-view">

            <div class="product-essential">
                <form autocomplete="off" id="product_addtocart_form">

                    <div class="product-img-box">

                        <div class="product-name">
                            <h1 ng-bind-html="product.title"></h1>
                        </div>

                        <div class="product-image">
                            <img style="margin: 0 auto" ng-src="/img/{{product.slug}}/{{currentBigImg}}" alt="{{data.title}}" title="{{product.title}}">
                        </div>


                        <div class="more-views">
                            <div style="position: relative;padding: 0px 60px;">
                                <div class="more-views-list">
                                    <a rel="group" ng-class="{'active' : currentBigImg==item}" ng-repeat="item in product.img" ng-click="toggleBigImg(item)" productsimgslider>
                                        <img ng-src="/img/{{product.slug}}/{{item}}" width="85" height="85" alt="{{product.title}}" title="{{product.title}}" border="1"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="product-shop">
                        <h1 class="product-name" ng-bind-html="product.title"></h1>
                        <h2 class="product-subtitle">
                            <span></span>
                        </h2>
                        <div class="short-description">
                            <div class="std">
                                <ul class="spec">
                                    <li ng-repeat="item in product.shortDescr">{{item}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-info">
                            <div class="price-box">
                                <span class="regular-price">
                                    <span class="price" ng-bind-html="product.price"></span>
                                </span>
                            </div>
                        </div>
                        <div class="article-social">
                            <div class="article-social-item f-link" ng-click="shareIt.facebook(product.slug, product.title, product.img[0], product.meta_desc)"></div>
                            <div class="article-social-item t-link" ng-click="shareIt.twitter(product.slug, product.title)"></div>
                            <div class="article-social-item g-link" ng-click="shareIt.google(product.slug)"></div>
                            <div class="article-social-item b-link" ng-click="shareIt.vkontakte(product.slug, product.title, product.img[0], product.text.slice(120))"></div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <div class="clearer"></div>
                </form>
            </div>
            <div class="clearer"></div>

            <div class="product-collateral toggle-content tabs">
                <ul class="toggle-tabs">
                    <li class="toggle-tabs-item" ng-class="{'current' : productBottom=='overview'}" ng-click="toggleBottom('overview')">
                        <span>{{"Overview" | translate}}</span>
                    </li>
                    <ul class="tabs-content-wide narrow-tabs" ng-if="productBottom == 'overview'">
                        <li class="tabs-content-item" ng-repeat="item in product.overview">
                            <div class="tab-content-descr">
                                <div class="tab-content-title" ng-bind-html="item.title"></div>
                                <div class="tab-content-text" ng-bind-html="item.text"></div>
                            </div>
                            <div class="tab-content-image">
                                <img src="/img/{{product.slug}}/{{item.img}}" border="0" style="border: 0; float: right;">
                            </div>
                        </li>
                    </ul>
                    <li class="toggle-tabs-item" ng-class="{'current' : productBottom=='specification'}" ng-click="toggleBottom('specification')">
                        <span>{{"Specifications" | translate}}</span>
                    </li>
                    <ul class="tabs-content-wide narrow-tabs content-specifications" ng-if="productBottom=='specification'">
                        <li class="tabs-content-item" ng-repeat="item in product.specification">
                            <div class="tab-content-descr">
                                <div class="tab-content-title" ng-bind-html="item.title"></div>
                                <div class="tab-content-text specifications-text">
                                    <div class="tab-content-text" ng-repeat="spec in item.text" ng-bind-html="spec"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </ul>
                <ul class="tabs-content-wide wide-tabs" ng-if="productBottom == 'overview'">
                    <li class="tabs-content-item" ng-repeat="item in product.overview">
                        <div class="tab-content-descr">
                            <div class="tab-content-title" ng-bind-html="item.title"></div>
                            <div class="tab-content-text" ng-bind-html="item.text"></div>
                        </div>
                        <div class="tab-content-image">
                            <img src="/img/{{product.slug}}/{{item.img}}" border="0" style="border: 0; float: right; margin-left: 10px; margin-right: 10px;">
                        </div>
                    </li>
                </ul>
                <ul class="tabs-content-wide wide-tabs content-specifications" ng-if="productBottom == 'specification'">
                    <li class="tabs-content-item" ng-repeat="item in product.specification" ng-class="{'specification-size-item' : item.title=='Size'}">
                        <div class="tab-content-descr">
                            <div class="tab-content-title" ng-bind-html="item.title"></div>
                            <div class="tab-content-text specifications-text">
                                <div class="tab-content-text" ng-repeat="spec in item.text" ng-bind-html="spec"></div>
                            </div>
                            <div class="tab-content-img" ng-if="item.title=='Size'">
                                <img width="100%" src="/img/{{product.slug}}/{{product.size}}">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>

<style>
    .article-social-item {
        background-image: url(../../img/sprite.png) !important;
    }
</style>